* {
  box-sizing: border-box;
}
.main-container {
  height: fit-content;
  padding: 100px 15%;
  background-color: rgb(241, 241, 241);
  .showfilm {
    display: grid;
    .card {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      border-radius: 15px;
      background-color: white;
      img {
        object-fit: contain;
        display: block;
        width: calc(192px * 1.3);
        height: calc(108px * 1.3);
        box-shadow: 0px 0px 5px black;
        border-radius: 5px;
      }
      margin: 10px;
      padding: 10px;
      .content {
        .title {
          font-size: xx-large;
          font-weight: 400;
        }
        .director{
          margin-top: 10px;
          font-size: 20px;
          font-weight: 400;
        }
        .resolution {
          margin-top:  5px;
          align-items: center;
          display: flex;
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
    .button {
      display: flex;
      justify-content: flex-end;
      a {
        display: block;
        color: white;
        text-decoration: none;
      }
      button {
        margin-right: 10px;
        width: 50px;
        height: 50px;
        display: block;
        color: white;
        text-decoration: none;
      }
    }
  }
  .add-form {
    display: flex;
    justify-content: space-around;
    form {
      height: fit-content;
      width: 60%;
      padding: 20px;
      border-radius: 15px;
      background-color: white;
      display: grid;
      grid-template-rows: repeat(4, 56px 20px);
    }
    .year-time-type {
      display: grid;
      grid-template-columns: 4fr 1fr 4fr 1fr 4fr;
    }
    .director-resolution {
      display: grid;
      grid-template-columns: 5fr 1fr 5fr;
    }
  }
}
.add {
  z-index: 1101;
  position: fixed;
  left: 90%;
  top: 120px;

  .add-icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
}